body {
    background-color: #0D0D1D;
}

#Meteo {
    background-color: #070416;
    height: 600px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(254, 254, 255, 0.2) 0px 7px 29px 0px;
}

@media screen and (min-width: 650px) {
    #Meteo {
        width: 500px;
    }
}

@media screen and (min-width: 900px) {
    #Meteo {
        height: 800px;
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    #Meteo {
        height: 800px;
        width: 700px;
    }
}